.list-advantage {
  margin: 0;
  padding: 0;

  list-style: none;
}

.list-advantage__wrapper {
  padding: 20px 45px;

  color: #ffffff;
}

.list-advantage__item--color {
  background-color: #81b3d2;
}

.list-advantage__item--background {
  background-color: #eeeeee;

  padding: 25px;
}

.list-advantage__headline {
  margin: 0;

  font-size: 18px;
  line-height: 26px;
  font-weight: bold;

  text-align: center;
  text-transform: uppercase;
}

.list-advantage__paragraph {
  margin: 0;

  font-size: 14px;
  line-height: 21px;
  font-weight: normal;

  text-align: center;
  text-transform: uppercase;
}

.list-advantage__paragraph--margin {
  margin: 10px 0;
}

.list-advantage__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-advantage__item--border {
  position: relative;
}

.list-advantage__item--border::before {
  position: absolute;
  top: 0;

  content: "";

  width: 280px;
  height: 1px;

  background-color: #d6d6d6;
}

.list-advantage__item--border::after {
  position: absolute;
  bottom: 0;

  content: "";

  width: 280px;
  height: 1px;

  background-color: #d6d6d6;
}

.list-advantage__image {
  vertical-align: bottom;
}

@media (min-width: @tablet-width) {
  .list-advantage {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    width: 768px;

    margin: 0 auto;
  }

  .list-advantage__item {
    width: 768px;
    height: 256px;

    flex-direction: row;
    align-items: center;
  }

  .list-advantage__wrapper {
    width: 256px;
  }

  .list-advantage__box {
    width: 512px;
    height: 256px;

    overflow: hidden;
  }

  .list-advantage__headline {
    font-size: 21px;
  }

  .service-list__item--food {
    order: 1;
  }

  .service-list__item--present {
    order: 2;
  }

  .list-advantage__wrapper--order {
    order: 1;

    padding: 20px 50px;
  }

  .list-advantage__item--background {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 256px;

    padding-left: 50px;
    padding-right: 50px;
  }

  .list-advantage__item--border::before,
  .list-advantage__item--border::after {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .list-advantage {
    width: 1200px;
  }

  .list-advantage__item {
    width: 1200px;
  }

  .list-advantage__wrapper {
    padding: 20px 65px;

    width: 400px;
  }

  .list-advantage__wrapper--order {
    padding: 20px 90px;
  }

  .list-advantage__box {
    width: 800px;
  }

  .list-advantage__item--background {
    width: 400px;
  }
}
