.list-advantage_background {
  background-color: #81b3d2;

  padding-top: 56px;
  padding-bottom: 39px;
}

.list-advantage__item:nth-of-type(4),
.list-advantage__item:nth-of-type(5),
.list-advantage__item:nth-of-type(6) {
  background-color: #eeeeee;
}

.list-service {
  padding-top: 33px;
}

.list-advantage__headline,
.list-service__headline {
  margin: 0;
  padding: 0 25px;

  font-size: 18px;
  line-height: 26px;
  font-weight: bold;

  text-align: center;
  text-transform: uppercase;
}

.list-advantage__paragraph,
.list-service__paragraph {
  margin: 0;
  padding: 0 25px;

  font-size: 14px;
  line-height: 21px;
  font-weight: normal;

  text-align: center;
  text-transform: uppercase;
}

.list-service__headline,
.list-service__paragraph {
  text-align: left;

  padding-left: 70px;
}

.list-service__headline {
  margin-bottom: 8px;
}

.list-service__item {
  margin-bottom: 25px;
}

.no-image {
  padding-top: 25px;
  padding-bottom: 25px;
}
