.list-photo {
  margin: 0;
  padding: 0;

  list-style: none;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-photo__item {
  padding: 22px 20px;

  display: flex;
  flex-direction: column;

  position: relative;

  width: 320px;
}

.list-photo__box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.list-photo__name {
  margin: 0;
  margin-top: 12px;
  padding: 0;

  font-size: 14px;
  font-weight: bold;
  line-height: 24px;
  text-transform: uppercase;

  color: #000000;
}

.list-photo__autor {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 24px;
  color: #333333;

  text-align: left;
}

.list-photo__like {
  font-size: 13px;
  font-weight: bold;
  line-height: 24px;

  color: #000000;
}

.list-photo__item--big::before {
  content: "";

  position: absolute;
  width: 320px;
  height: 1px;
  top: 0;
  left: 0;

  background-color: #e5e5e5;
}

.list-photo__item::after {
  content: "";

  position: absolute;
  width: 320px;
  height: 1px;
  bottom: 0;
  left: 0;

  background-color: #e5e5e5;
}

.list-photo__button {
  background-color: transparent;

  border: none;

  margin-right: 5px;

  padding: 0;
}

.list-photo__svg {
  position: relative;

  top: 4px;
}

.list-photo__button path {
  fill: #b2b2b2;
}

@media (min-width: @tablet-width) {
  .list-photo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;

    width: 648px;

    margin: 0 auto;
  }

  .list-photo__box {
    background-color: #f2f2f2;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;

    height: 80px;
  }

  .list-photo__description {
    width: 230px;

    padding: 5px;
    padding-left: 20px;

    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: auto;
  }

  .list-photo__name {
    margin: 0;
  }

  .list-photo__likes {
    width: 84px;

    margin-top: auto;
    margin-bottom: auto;
  }

  .list-photo__link {
    line-height: 0;
  }

  .list-photo__item {
    width: 324px;

    padding: 0;
  }

  .list-photo__item--big {
    width: 648px;
  }

  .list-photo__item--big::before,
  .list-photo__item::after {
    display: none;
  }

  .list-photo__button path {
    fill: #a9a9a9;
  }
}

@media (min-width: @desktop-width) {
  .list-photo {
    width: 1200px;
  }

  .list-photo__item {
    width: 400px;
  }

  .list-photo__item--big {
    width: 1200px;
  }

  .list-photo__name,
  .list-photo__autor,
  .list-photo__like {
    color: #ffffff;
  }

  .list-photo__box {
    position: absolute;
    width: 100%;
    bottom: 0;

    background-color: rgba(0, 0, 0, 0.3);
  }

  .list-photo__button path {
    fill: #ffffff;
  }
}
