.list-advantage__background {
  background-color: #81b3d2;

  padding-top: 56px;
  padding-bottom: 39px;

  color: #ffffff;
}

.list-advantage__item--backgorund {
  background-color: #eeeeee;

  padding-top: 25px;
  padding-bottom: 25px;
}

.list-advantage__headline {
  margin: 0;
  padding: 0 25px;

  font-size: 18px;
  line-height: 26px;
  font-weight: bold;

  text-align: center;
  text-transform: uppercase;
}

.list-advantage__paragraph {
  margin: 0;
  padding: 0 25px;

  font-size: 14px;
  line-height: 21px;
  font-weight: normal;

  text-align: center;
  text-transform: uppercase;
}
