.page-footer {
  background-color: #fefefe;
}

.page-footer__wrapper {
  min-width: 320px;
  margin: 0 auto;
  padding-top: 41px;
  padding-left: 10px;
  padding-right: 10px;

  text-align: center;
}

.page-footer__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.page-footer__tag {
  display: block;

  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: #000000;

  text-transform: uppercase;

  margin-bottom: 37px;
}

.page-footer__copyright {
  font-size: 14px;
  font-weight: normal;
  line-height: 26px;
  color: #000000;

  text-transform: uppercase;
}

.page-footer__link {
  display: inline-block;
  position: relative;
  width: 27px;
  height: 34px;
}

@media (min-width: @tablet-width) {
  .page-footer__list {
    display: flex;
  }

  .page-footer__wrapper {
    min-width: 768px;
    padding: 36px 58px;
  }

  .page-footer__item {
    width: 33.33%;
  }

  .page-footer__tag {
    display: flex;
    justify-content: flex-start;
  }

  .page-footer__paragraph {
    text-align: right;
  }

  .page-footer__tag,
  .page-footer__paragraph,
  .page-footer__copyright {
    margin: 0;
  }
}

@media (min-width: @desktop-width) {
  .page-footer__wrapper {
    width: 1200px;
  }
}
