.page-header__nav {
  font-size: 18px;
  font-weight: bold;
  line-height: 40px;

  color: #000000;
}

.page-header {
  padding-bottom: 21px;
}

.page-header__wrapper {
  width: 320px;
  padding: 0 0;
  margin: 0 auto;

  overflow: hidden;
}

.page-header__item {
  display: block;
  width: 320px;

  color: #ffffff;

  background-color: #81b3d2;
  text-align: center;
  text-transform: uppercase;

  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #9ac2db;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #678fa8;
}

.page-header__item--top {
  border-top: none;
}

.page-header__item--bottom {
  border-bottom: none;
}

.page-header__image {
  margin-bottom: 36px;
}

.page-header__headline {
  font-size: 18px;
  line-height: 26px;

  text-align: center;
  text-transform: uppercase;

  margin: 0;
  margin-bottom: 27px;
  padding: 0 25px;
}

.page-header__paragraph {
  font-size: 14px;
  line-height: 26px;
  color: #333333;

  text-align: center;
  text-transform: uppercase;

  margin: 0;
  padding: 0 25px;
}
