.page-header__list {
  margin: 0;
  padding: 0;

  list-style: none;

  display: block;

  min-width: 320px;
}

.page-header__nav {
  font-size: 18px;
  font-weight: bold;
  line-height: 40px;

  color: #000000;
}

.page-header__item--logo {
  justify-content: center;

  height: 56px;
}

.page-header {
  padding-bottom: 21px;
}

.page-header__wrapper {
  min-width: 320px;
  padding: 0 0;
  margin: 0 auto;

  overflow: hidden;
}

.page-header__link {
  display: block;
  min-width: 320px;

  color: #ffffff;

  background-color: #81b3d2;
  text-align: center;
  text-transform: uppercase;

  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #9ac2db;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #678fa8;
}

.page-header__link--top {
  border-top: none;
}

.page-header__link--bottom {
  border-bottom: none;
}

.page-header__background {
  min-height: 389px;

  background: #81b3d2 url("../img/bg-back-mobile@1x.jpg") no-repeat 50% 0;
  background-size: 768px auto;

  margin-bottom: 42px;
}

.page-header__headline {
  width: 320px;

  font-size: 18px;
  line-height: 26px;

  text-align: center;
  text-transform: uppercase;

  margin: 0 auto;
  margin-bottom: 27px;
  padding: 0 25px;
}

.page-header__paragraph {
  width: 320px;

  font-size: 14px;
  line-height: 26px;
  color: #333333;

  text-align: center;
  text-transform: uppercase;

  margin: 0 auto;
  padding: 0 20px;
}

@media (min-width: @tablet-width) {
  .page-header__background {
    background: #81b3d2 url("../img/bg-back-tablet@1x.jpg") no-repeat 50% 0;
    background-size: 1200px auto;
    min-height: 518px;
  }

  .page-header__wrapper {
    min-width: 768px;
  }

  .page-header__list {
    display: flex;
    justify-content: space-between;
    min-width: 768px;
  }

  .page-header__item {
    display: flex;

    height: 56px;
  }

  .page-header__link {
    font-size: 14px;
    line-height: 26px;
    color: #000000;

    background-color: #ffffff;
    border: none;

    min-width: 153px;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;

    align-self: center;
  }

  .page-header__item:nth-of-type(2) {
    order: 1;
  }

  .page-header__item:nth-of-type(3) {
    order: 4;
  }

  .page-header__item:nth-of-type(4) {
    order: 5;
  }

  .page-header__item--logo {
    order: 3;
  }

  .page-header__toggle {
    display: none;
  }

  .page-header__headline {
    width: 510px;

    font-size: 21px;
  }

  .page-header__paragraph {
    width: 510px;

    padding: 0 10px;
  }
}


@media (min-width: @desktop-width) {
  .page-header__background {
    background: #81b3d2 url("../img/bg-back-desktop@1x.jpg") no-repeat 50% 0;
    background-size: 1200px auto;
  }

  .page-header {
    width: 1200px;

    margin: 0 auto;
  }

  .page-header__link {
    width: 253px;
  }

  .page-header__item--logo {
    width: 188px;
  }
}
