.list-advantage__service {
  padding-top: 33px;
}

.service-list__headline {
  margin: 0;
  margin-bottom: 8px;
  padding: 0 25px;

  font-size: 18px;
  line-height: 26px;
  font-weight: bold;

  text-align: center;
  text-transform: uppercase;
}

.service-list__paragraph {
  margin: 0;
  padding: 0 25px;

  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #333333;

  text-align: center;
  text-transform: uppercase;
}

.service-list__headline,
.service-list__paragraph {
  text-align: left;

  padding-left: 70px;
}

.service-list__item {
  margin-bottom: 25px;
}

.list-advantage__paragraph--color {
  color: #333333;
}
