.service-list {
  margin: 0;
  padding: 0;

  list-style: none;

  display: flex;
  flex-direction: column;
}

.service-list__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  padding-right: 20px;
  padding-left: 70px;
  margin-bottom: 25px;
}

.list-advantage__service {
  padding-top: 33px;
}

.service-list__headline {
  margin: 0;
  margin-bottom: 8px;

  font-size: 18px;
  line-height: 26px;
  font-weight: bold;

  text-align: center;
  text-transform: uppercase;
}

.service-list__paragraph {
  margin: 0;

  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #333333;

  text-transform: uppercase;
}

.list-advantage__paragraph--color {
  color: #333333;
}

@media (min-width: @tablet-width) {
  .service-list {
    display: flex;
    flex-direction: row;
  }

  .list-advantage__item--height {
    height: 330px;
  }

  .service-list__item {
    width: 33.33%;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding-left: 45px;
    padding-right: 45px;
    margin: 0;
  }

  .service-list__headline {
    font-size: 21px;
  }

  .service-list__headline,
  .service-list__paragraph {
    padding: 0;

    text-align: center;
  }

  .list-advantage__service {
    padding-top: 130px;
  }
}

@media (min-width: @desktop-width) {
  .service-list__item {
    margin-bottom: 85px;
  }

  .service-list__item--house {
    padding-left: 70px;
    padding-right: 70px;
  }

  .service-list__item--food {
    padding-left: 55px;
    padding-right: 55px;
  }

  .service-list__item--present {
    padding-left: 90px;
    padding-right: 90px;
  }
}
